{% extends 'base.html' %}
{% block title %}Spisovatelé{% endblock %}
{% block content %}
    <div class="bg-warning">
        <h2 class="uppercase text-center">Spisovatelé v databázi</h2>
    </div>
    <p>Celkem {{num_authors}} spisovatelů v databázi!</p>
    <div class="row">
        {% for author in authors %}
        <div class="col-sm-4 text-center authors">
            <a href="../author_detail/{{ author.pk }}"><h3>{{author.name}}</h3></a>
        </div>
        {% endfor %}
    </div>
{% endblock %}