{% extends 'base.html' %}
{% block content %}
    <div class="bg-warning">
        <h2 class="uppercase text-center">Knihy v databázi</h2>
    </div>
    <p>Celkem {{num_books}} knih v databázi!</p>
    <div class="row">
        {% for book in books %}
        <div class="col-sm-6 text-center">
            <div class="card">
                <div class="row">
                    <div class="col-md-6">
                        <div class="card-body">
                            <h4 class="card-title">{{ book.title }}</h4>
                            <p class="card-author"><strong>{% for author in book.author.all %}{{ author.name }} {% endfor %}</strong></p>
                            <a href="#" class="btn btn-warning">Podrobnosti</a>
                        </div>
                    </div>
                    <div class="col-md-6">
                        {% if book.cover %}
                        <img class="card-img-top" src="{{ book.cover.url }}" alt="{{ book.title }}">
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock %}